
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by MyDiaryCo</p>
  </div>
</div>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src = "index.js" charset="utf-8"></script>
</body>
</html>
